@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
:root {
  --blue: #1a659e;
  --lightBlue: #1d78be;
  --darkBlue: #093d64;
  --text: rgba(14, 14, 14, 0.9);
  --pink: #eeabc4;
  --lightPink: #f8c6d9;
  --green: #588157;
  --yellow: #efefd0;
  --lightYellow: #f5f5e5;
  --darkYellow: #ebebac;
  --blackYellow: #cfcf99;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--yellow);
  min-height: 100vh;
  width: 90%;
  margin: auto;
}

.grid-layout {
  color: #4e66c5;
  display: grid;
  padding-top: 50px;
  margin: auto;
  grid-auto-rows: minmax(400px, auto);
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 70px;
  padding-bottom: 50px;
}
@media all and (min-width: 1000px) {
  .grid-layout {
    grid-template-columns: 1fr 1fr;
  }
}

.section-title {
  position: absolute;
  top: -53px;
  left: 0;
  background-color: var(--lightYellow);
  padding: 10px 20px;
  text-transform: capitalize;
  color: var(--blue);
  z-index: 10;
}

.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1-404 {
  font-size: 100px;
}
.error-message {
  text-align: center;
  font-size: 25px;
}
.error-message::first-letter {
  text-transform: uppercase;
}
.back-home-btn {
  background-color: var(--blackYellow);
  padding: 10px 30px;
  border-radius: 10px;
  color: black;
  border: none;
  box-shadow: 0 10px 5px -6px #777;
  cursor: pointer;
  font-size: 20px;
  animation: bounce 1s infinite;
  text-decoration: none;
}
.back-home-btn:hover {
  background-color: var(--darkYellow);
}
@keyframes bounce {
  50% {
    border-radius: 20px;
  }
}
